<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parámetros del request HTTP GET - URL</title>
</head>
<body>
<h1>Enviar parámetros del request HTTP GET - URL</h1>
<ul>
<li> 
<a th:href="@{/params/string(texto= 'Hola Erick!!!')}">/params/string?texto=Hola Erick</a>
</li>
<li>
<a th:href="@{/params/string(texto= 'Que tal Mateo!!!')}">/params/string?texto=Que tal Mateo!!!</a>
</li>
<li>
<a th:href="@{/params/mix-params(saludo= 'Cómo estas Erick', numero=10)}">/params/string?saludo= 'Cómo estas Erick'&numero=10</a>
</li>
<li>
<a th:href="@{/params/mix-params(saludo= 'Cómo estas Erick Rangel', numero=100)}">/mix-params-request?saludo= 'Cómo estas Erick Rangel'&numero=100</a>
</li>
</ul>
</body>
</html>